:root {
  --cor-principal: #111;
  --cor-secundaria: #ee2211;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
}

h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
